@font-face {
  font-family: 'Laviossa';
  src: url('../../../_assets/fonts/Laviossa-Medium.otf');
}

@font-face {
  font-family: 'General Sans';
  src: url('../../../_assets/fonts/GeneralSans-Medium.otf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--secondary-font);
  font-size: 1.15rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  color: var(--main-text-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --max-width: 1100px;
  --border-radius: 8px;

  --primary-font: 'Laviossa';
  --secondary-font: 'General Sans';
  --main-text-color: #40350b;

  --primary-color: rgba(0, 99, 216, 1);
  --secondary-color: rgba(255, 205, 0, 1);
  --neutral-color: rgba(250, 233, 216, 1);

  --background-color: rgba(251, 251, 251, 1);

  --spacing-unit: 8px;

  --spacing-xs: var(--spacing-unit);
  --spacing-sm: calc(2 * var(--spacing-unit));
  --spacing-md: calc(3 * var(--spacing-unit));
  --spacing-lg: calc(4 * var(--spacing-unit));

  --padding: var(--spacing-md);
  --margin: var(--spacing-sm);
}
