.main {
  height: 90dvh;

  section {
    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;

    h1,
    h2,
    h3 {
      color: var(--neutral-color);

      margin: auto;

      z-index: 2;
    }
  }

  .wave {
    position: relative;
    width: 100%;
    height: auto;
  }
}
