.header {
  background-color: var(--primary-color);
  color: var(--neutral-color);

  padding: var(--padding);
  width: 100%;

  div {
    max-width: var(--max-width);

    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    font-family: var(--primary-font);
  }

  ul {
    font-family: var(--secondary-font);

    display: flex;
    flex-direction: row;
    gap: 1rem;

    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
