.header {
  background-color: var(--primary-color);
  color: var(--neutral-color);

  padding: var(--padding);

  display: flex;
  align-items: center;
  justify-content: space-between;

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    font-family: var(--primary-font);

    ul {
      font-family: var(--secondary-font);

      display: flex;
      flex-direction: row;
      gap: 0.85rem;

      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
